$primaria-normal: #06121e;
$primaria-dark: #040f1a;
$primaria-ligth: #0c2135;

$secundaria-normal: #090d11;
$secondaria-dark: #06090c;
$secundaria-ligth: #1a1f25;

$preto-normal: #232224;
$preto-dark: #161617;
$preto-ligth: #353436;

$branco-normal: #fff;
$branco-dark: #edeaef;
$branco-ligth: #fefbff;

$vermelho-normal: #d94149;
$vermelho-dark: #b42b2b;
$vermelho-ligth: #d34040;
